/* 1. Universel selector  */
*{
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
}

/* 2.type selector  */
p {
font-size: 17px;
color: aqua;
}

/* 3.Class Selector  */
.highlight {
    background-color: #283134;
}

/* 4.Id Selector  */
header {
    background-color: blueviolet;
}

/* 5. Attribute Selctor  */
input[type="text"] {
    border: 2px solid black;
}
/* 6.Descandant Selector  */
article p {
    font-style: italic;
    color: antiquewhite;
    background-color: #cc5b5b;
    padding: 10px;
}
/* 7.Child Selector  */
div>p {
    background-color: #e30f61;
}

/* 8.Adjacent sibling selector  */
h1+p {
    font-weight: bold;
    color: rgb(96, 9, 201);
}

/* 9.GEnrel sibling selector  */
h2~p {
    color: #82a7b4;
}

/* 10.Pseudo-class selector  */
a:hover {
    background-color: #41cd44;
    text-decoration: none;
    color: #1a1a1a;
    padding: 5px;
    margin: 4px;
}

/* 11.Pseudo-element selector  */
p::first-letter {
    font-weight: bold;
    font-size: 30px;
}

/* 12.grouping selector  */
h1,h2,h3 {
    color: red;
}  
